<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>Bus Tracking System</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mako&family=Pacifico&display=swap" rel="stylesheet">
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static',filename='styles/styles.css') }}"
    />
    <script src="{{url_for('static', filename='scripts/map.js')}}"></script>
  </head>

  <body>

      <div class="signup-container">
        
          <div class="sign-up">
          
            <p class="sign-up-heading">Sign Up</p>
            

            <div class="signup-form">
              <form action="">

                <div class="signup-input">
                  <label class="signup-email-label" for="">Email ID</label><br />
                  <input
                    type="text"
                    id="signin-email"
                    name="emailid"
                    placeholder="Enter your Email ID"
                  />
                </div>

                <div class="signup-input">
                  <label class="emailID" for="">Password</label><br />
                  <input
                    type="text"
                    id="email"
                    name="emailid"
                    placeholder="Enter your password"
                  />
                </div>

                <div class="signin-input">
                  <label class="emailID" for="">Confirm Password</label><br />
                  <input
                    type="text"
                    id="email"
                    name="emailid"
                    placeholder="Enter your password"
                  />
                </div>

              </div>
              <p class="text">I am a:</p>
              <div class="student">
                <input type="radio" name="age" value="30" />
                <label for="age1">Student/Professor</label><br />
                <input type="radio" name="age" value="60" />
                <label for="age2">Driver</label><br />
              </div>
              <div class="drop">
                <label for="bus">Choose Bus route:</label>
                <select name="" id="bus">
                  <option value="">1</option>
                  <option value="">2</option>
                  <option value="">3</option>
                  <option value="">4</option>
                </select>
              </div>
              <br /><br />
              <div class="button">
                <a href="/homepage"
                  ><button class="Button" type="button">Sign Up</button></a
                >
              </div>
              

              </form>
              <div>
                <a class="create1" href="/">Already have an account?Sign In</a>
              </div>
            
        </div>

        <div>
            <img class="signup-logo" src="{{url_for('static', filename='assets/SSN BUS PIC.png')}}"/>
        </div>
        
        
      </div>
      
    
  </body>
</html>
