<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8" />
  <title>Bus Tracking System</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Mako&family=Pacifico&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/styles.css') }}" />
  <script src="{{url_for('static', filename='scripts/script.js')}}"></script>
</head>

<script>
  const successCallback = (position) => {
    console.log(position);
    console.log(position.coords);
    console.log(position.coords.latitude);
    console.log(position.coords.longitude);
  };

  const errorCallback = (error) => {
    console.log(error);
  };

  navigator.geolocation.getCurrentPosition(successCallback, errorCallback);
</script>

<script type="module" src="{{url_for('static', filename='scripts/script.js')}}"></script>

<body>

  <div class="homepage-container">
  <div class="navbar">
    <div>
      <a href="\">
        <img class="buspic" src="{{url_for('static', filename='assets/SSN BUS PIC WHITE.png')}}" alt="" />
      </a>
    </div>

    <div class="busRoute">
      <p class="choose">Choose Bus Route:</p>
      <select class="busbox" name="choice-busroute" id="choice-busroute"></select>
    </div>

    <div style="padding-left: 0px; top: 70px; left: 520px" class="report">
      <a href="\report"><button style="width: 90px; height: 50px; border-radius: 15px" type="submit">
          Report an Issue
        </button></a>
    </div>

    <div class="location">
      <p class="choose">Choose Location:</p>
      <select class="busbox" name="choice-location" id="choice-location"></select>
    </div>

    <div>
      <a href="\updates"><img class="profile" src="{{url_for('static', filename='assets/Profile.png')}}" alt="" /></a>
    </div>
  </div>
  <div class=" map-item">
      <div id="map">

          <!--Add a script by google -->
          <script
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBjgKdAouxdTuxAbyH-YqcMVZQ5AC_WeWo&callback=initMap&libraries=&v=weekly"
            async></script>

          <script>
            // Initialize and add the map
            function initMap() {
              // The location of Geeksforgeeks office
              var center = { lat: 13.0827, lng: 80.2707 };

              // Create the map, centered at gfg_office
              const map = new google.maps.Map(document.getElementById("map"), {
                // Set the zoom of the map
                zoom: 10,
                center: center,
              });

              var locations = [
                ["Velachery", 12.9815, 80.218],
                ["KK Nagar", 13.041, 80.1994],
                ["Egmore", 13.0732, 80.2609],
                ["Koyembedu", 13.0694, 80.1948],
                ["SSN", 12.7517, 80.2033],
              ];
              var marker, count;
              for (count = 0; count < locations.length; count++) {
                marker = new google.maps.Marker({
                  position: new google.maps.LatLng(
                    locations[count][1],
                    locations[count][2]
                  ),
                  map: map,
                });
              }
            }
        </script>
      </div>
  </div>
  <div class="buttons-bar">
    <button type="submit" class="share-location-btn">Share Location</button>
    <a href="\recentUpdate"><button class="recent-updates-btn">Recent Updates</button></a>
  </div>
</div>
  
</body>

</html>