<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8" />
  <title>Bus Tracking System</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Mako&family=Pacifico&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/styles.css') }}" />
  <script src="{{url_for('static', filename='scripts/script.js')}}"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBjgKdAouxdTuxAbyH-YqcMVZQ5AC_WeWo&callback=initMap&libraries=&v=weekly" async></script>
</head>

<body onload="getlocation(); getuserbus()">

  <div
    style="display: flex; flex-direction:column; justify-content:center; width: 100%;height: 150px;background: #FCFAF1;box-shadow: 0px 4px 20px 20px #AA8F00;border-radius: 0px 0px 80px 80px;">

    <div style="display:flex; justify-content:space-evenly;">

      <img style="width: 200px;height: 100px;" src="{{url_for('static', filename='assets/SSN BUS PIC WHITE.png')}}"
        alt="" />

      <div style="display: flex; flex-direction:column; justify-content:center">
        <p class="choose">Choose Bus Route:</p>
        <select name="choice-busroute" id="choice-busroute" style="border: 3px solid #E9C400;border-radius: 4px;" onchange = "initMap()">
          <option value="none" selected disabled hidden>Pick a route</option>
          <option value="1">Route 1</option>
          <option value="2">Route 2</option>
          <option value="3">Route 3</option>
          <option value="4">Route 4</option>
        </select>
      </div>

      <div style="display: flex; flex-direction:column; justify-content:center">
        <a href="\report">
          <button type="submit"
            style="font-family: 'Mako';font-weight: 400;font-size: 16px; text-align: center;color: #705E00; width: 180px; height: 40px; background-color:white; border: 3px solid #E9C400;border-radius: 4px; cursor:pointer; margin-top:32px">
            Report an Issue
          </button>
        </a>
      </div>

      <div style="display: flex; flex-direction:column; justify-content:center">
        <p class="choose">Choose Location:</p>
        <select name="choice-location" id="choice-location" style="border: 3px solid #E9C400;border-radius: 4px;" onchange = "initMap()">
          <option value="none" selected disabled hidden>Pick a location</option>
          <option value="none">None</option>
          <option value="1">Velachery</option>
          <option value="2">KK Nagar</option>
          <option value="3">Egmore</option>
          <option value="4">Koyembedu</option>
        </select>
      </div>

      <div style="display: flex; flex-direction:column; justify-content:center">
        <a href="\updates">
          <img style="width: 50px;height: 50px; margin-top:15px" src="{{url_for('static', filename='assets/bell.png')}}"
            alt="" />
        </a>
      </div>
    </div>
  </div>

  <div style="display:flex; flex-direction:row; justify-content:space-evenly; margin-top:100px;">
    <div id="map">
      <script>
        initMap()
      </script>
    </div>

    <div style="display:flex; flex-direction:column;justify-content:center;">
      <button onclick="currentpos()"
        style="width:100%; font-family: 'Mako';font-weight: 400;font-size: 16px; text-align: center;color: #705E00; width: 180px; height: 40px; background-color:white; border: 3px solid #E9C400;border-radius: 4px; cursor:pointer; margin-top:32px"" type="
        submit">Share Location</button>
      <a href="\logout"
        style="width:100%; font-family: 'Mako';font-weight: 400;font-size: 16px; text-align: center;color: #705E00; width: 180px; height: 40px; background-color:white; border: 3px solid #E9C400;border-radius: 4px; cursor:pointer; margin-top:32px; display:flex; flex-direction:column; justify-content:center; text-decoration:none">Log Out</a>
    </div>

  </div>

</body>

</html>