<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8" />
  <title>Bus Tracking System</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/styles.css') }}" />
  <script src="{{url_for('static', filename='scripts/script.js')}}"></script>
</head>

<body class="sign-in-container">
  <!-- <div class="background"> -->
    <div class="sign-in-logo">
      <img class="img-sign-in-logo" src="{{url_for('static', filename='assets/SSN BUS PIC.png')}}" alt="bus-img" />
    </div>
    
    <div class="login">
      <div class="contents">
        <div class="login-heading">
          <p>Login</p>
        </div>
        <div class="sign-in-form">

          <form action="\" method="post">

            <div class="signin-input">
              <label class="signin-email-label" for="">Email ID</label><br />
              <input type="text" id="signin-email" name="emailid" placeholder="Enter your Email ID" />
            </div>

            <div class="signin-input">
              <label class="signin-pswd" for="">Password</label><br />
              <input type="text" id="signin-pswd" name="password" placeholder="Enter your password" />
            </div>

            <a href="#" class="forgot-pswd" onclick="forgotpwd()">Forgot password?</a>

            <div class="button">
              <button class="Button" type="submit">Sign In</button>
            </div>
          </form>

        </div>

        <!-- <p class="text">I am a:</p>
        <div class="student">
          <input type="radio" name="age" value="30" />
          <label for="age1">Student/Professor</label><br />
          <input type="radio" name="age" value="60" />
          <label for="age2">Driver</label><br />
        </div> -->

        <div>
          <a class="create" href="\signup">Create an account?</a>
        </div>

      </div>
    </div>
  <!-- </div> -->
</body>

</html>