<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Bus Tracking System</title>
    <link rel="stylesheet" href="styles.css">
    <script src="scripts/main.js"></script>
  </head>
  <body >
    <div class="background">
        <img class="img" src="C:\Users\sbnivetha\Desktop\Software Lab project\UI design\SSN BUS PIC.png" alt="">
        <div class="login">
            <div class="contents">
                <div class="login-text">
                    <p>Login</p>
                </div>
                <div class="form">
                    <form action="">
                        <div class="Email">
                            <label class="emailID" for="">Email ID</label><br>
                            <input type="text" id="email" name="emailid" placeholder="Enter your Email ID">
                        </div>
                        <div class="Email">
                            <label class="emailID" for="">Password</label><br>
                            <input type="text" id="email" name="emailid" placeholder="Enter your password">
                        </div>
                    </form>
                <a href="https://lms.ssn.edu.in/login/index.php" class="forgot-pswd">Forgot password?</a>
                </div>
                <p class="text">I am a: </p>
                <div class="student">
                    
                    <input type="radio"  name="age" value="30">
                    <label for="age1">Student/Professor</label><br>
                    <input type="radio" name="age" value="60">
                    <label for="age2">Driver</label><br>
                </div><br>
                <div class="button">
                    <a href="C:\Users\sbnivetha\Desktop\Software Lab project\UI design\homepage.html"><button class="Button" type="button">Sign In</button></a>
                </div> <br>
                <div> <a class="create"href="C:\Users\sbnivetha\Desktop\Software Lab project\UI design\create_acc.html">Create an account?</a></div>
            </div>
        </div>
            
    </div>
        
  </body>
</html>
