<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>Bus Tracking System</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static',filename='styles/styles.css') }}"
    />
    <script src="{{url_for('static', filename='scripts/map.js')}}"></script>
  </head>
  <body class="body">
    <div class="navbar">
      <div>
        <a href="\homepage">
          <img
            class="buspic"
            src="{{url_for('static', filename='assets/SSN BUS PIC WHITE.png')}}"
            alt=""
          />
        </a>
      </div>
      <div class="busRoute" style="margin-left: 300px; width: 150px">
        <p class="choose">Recent Updates</p>
      </div>
      <div>
        <a href=""
          ><img
            class="profile"
            src="{{url_for('static', filename='assets/Profile.png')}}"
            alt=""
        /></a>
      </div>
    </div>
    <div class="box"></div>
  </body>
</html>
