<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Bus Tracking System</title>
    <link rel="stylesheet" href="styles.css">
    <script src="scripts/main.js"></script>
  </head>
  <body class="body">
    <div class="navbar">
      <div>
        <a href="C:\Users\sbnivetha\Desktop\Software Lab project\UI design\homepage.html">
          <img class="buspic" src="C:\Users\sbnivetha\Desktop\Software Lab project\UI design\SSN BUS PIC WHITE.png" alt="">
        </a>
      </div>
      <div>
        <a href=""><img class="profile" src="C:\Users\sbnivetha\Desktop\Software Lab project\UI design\Profile.png" alt=""></a>
      </div>
    </div>
    <div class="issuebox">
        <p>Report your issue here</p>
        <input type="text" style="height:50px;"><br><br>
        <button class="reportbutton">Submit</button>
    </div>
  </body>
</html>
