body{
    background-color: #F3DE71;
    font-family: 'Mako';
    
}

::placeholder {
    color:#E9C400;
    opacity: 1;
  }

/* SIGN IN PAGE CSS */

.sign-in-container , .signup-container, .homepage-container{
    display:grid;
    margin: 0px;
    height: 100vh;
    gap: 20px;
}

.sign-in-logo{
    grid-column-start: 1;
    grid-column-end: 2;
    height: 100%;
}

.img-sign-in-logo{
    padding-top: 20%;
    padding-left: 25%;
}

.login{
    grid-column-start: 2;
    grid-column-end: 3;
    background: #FCFAF1;
    height: 100%;
    box-shadow: 0px 4px 20px 20px #AA8F00;
    border-radius: 80px 0px 0px 80px;
    padding-left: 20%;
    padding-right: 20%;
}

.login-heading, .signup-heading{
    display: block;
    text-align: center;
    /* padding-left: 27%; */
    padding-top: 10%;
    padding-bottom: 7.5%;
    font-family: "Pacifico";
    font-style: normal;
    font-weight: 400;
    font-size: 4rem;
    line-height: 44px;
    color: #AA8F00;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


.signin-email-label, .signin-pswd-label, .signup-email-label, .signup-pswd-label, .signup-confpswd-label{
    width: 86px;
    height: 24px;

    font-family: 'Mako';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #705E00;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.signin-input, .signup-input{
    padding: 2.5% 0%;
}


#signin-email , #signin-pswd , #signup-email , #signup-pswd , #signup-confpswd{

    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 6px 12px;
    gap: 4px;

    width: 100%;
    height: 30px;

    background: #F9ECAA;
    border: 1px solid #E9C400;
    border-radius: 4px;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.forgot-pswd{
    
    color:#E9C400;
    opacity: 1;
}

.signin-button-div, .signup-button-div{
    padding: 5% 40% 5% 35%;

}
.signin-button , .signup-button{
    /*  */
    font-family: 'Mako';
    height: 30px;
    width: 100px;
    background: #F3DE71;
    border: none;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    color: #705E00;
    cursor: pointer;
    border-radius: 4px;
}

.create-account{
display: block;

font-family: 'Mako';
font-weight: 400;
font-size: 16px;


text-align: center;

color: #E9C400;
}

/* SIGN UP PAGE  */


.sign-up{

    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start:1;
    grid-row-end: 3;
    background: #FCFAF1;
    height: 100%;
    box-shadow: 0px 4px 20px 20px #AA8F00; 
    border-radius: 0px 80px 80px 0px;
    padding-left: 20%;
    padding-right: 20%;

}

.account-type{
    color:#705E00;
}

.signup-busroute-dropdown{
    display: flex;
    flex-direction: row;
    align-items: left;
    margin: 5% 25%;


    background: #F9F9F9;
    border: 3px solid #E9C400;
    border-radius: 4px;
}

.back-to-signin{
    margin-bottom: 30px;
    display: block;
    
    font-family: 'Mako';
    font-weight: 400;
    font-size: 16px;
    
    
    text-align: center;
    
    color: #E9C400;
    }

.sign-up-logo{

    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start:1;
    grid-row-end: 3;
    height: 100%;

}

.img-sign-up-logo{
    padding-top: 25%;
    padding-left: 25%;
}


/* -------------------------------------------------- */



.navbar{
    grid-row-start: 1;
    grid-row-end: 4;
    position: absolute;
    display: block;
    margin-left:0;
    width: 100%;
    height: 25%;
    background: #FCFAF1;
    top:0;
    box-shadow: 0px 4px 20px 20px #AA8F00;
    border-radius: 0px 0px 80px 80px;
}

.buspic{
    padding-top: 10px;
    width: 200px;
    height: 100px;
    padding-left: 30px;
}

.map-item{
    grid-row-start: 1;
    grid-row-end: 6;

    padding-left: 25%;
    padding-top: 15%;
    
}

.box{
    position: absolute;

    left: 50px;
    width: 1150px;
    height: 330px;
    top: 200px;

    background: #F9ECAA;
}
.location{
    top: 40px;
    position: absolute;
    width: 150px;
    padding-left: 800px;
    padding-bottom: 30px;
}
.busRoute{
    top: 40px;
    position: absolute;
    width: 150px;
    /* padding-left: 250px; */
    padding-left: 290px;
    padding-bottom: 30px;
}

.reportbutton{
    margin-bottom: 30px;
    display: block;
    
    font-family: 'Mako';
    font-weight: 400;
    font-size: 16px;
    
    
    text-align: center;
    
    color: #E9C400;
}

.choose{
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 4px;
    margin-bottom: 5px;
    color: #705E00;
}
.issuebox{
    color:#705E00;
    margin-top: 300px;
    padding-left: 550px;


}
.busbox{
    flex-direction: row;
    align-items: center;
    padding: 8px;
    gap: 6px;

    position: absolute;
    width: 185px;
    height: 36px;

    background: #F9F9F9;
    border: 3px solid #E9C400;
    border-radius: 4px;
}






.report{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 16px;
    gap: 4px;

    position: absolute;
    width: 211px;
    height: 36px;
    left: 680px;
    top: 17px;

    background: #FCFAF1;
    border-radius: 4px;
    color: #E9C400;

}
.goto-updates{
    position: absolute;
    width: 50px;
    height: 50px;
    left: 1150px;
    top: 30px;
}

#map{
  height: 400px;
  width: 70%;
  border-radius: 50px;
}

.buttons-bar{
    grid-row-start: 7;
    grid-row-start: 8;

    display: block;
    padding: 0% 40%;

}
.share-location-btn{
    padding: 2%;
    font-family: 'Mako';
    height: 50px;
    width: 100px;
    position: relative;
    display: inline-block;
    align-items: center;
    background: #FCFAF1;;
    border: none;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    color: #705E00;
    cursor: pointer;
    border-radius: 4px;

}

.logout-btn{
    padding: 2%;
    font-family: 'Mako';
    height: 50px;
    width: 100px;
    background: #FCFAF1;
    display: inline-block;
    align-items: center;
    border: none;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    color: #705E00;
    cursor: pointer;
    border-radius: 4px;

}
